.name {
    width: 500px;
    height: 70px;
    background: white;
}

.form {
    height: 100px;
    width: 300px;
    padding-bottom: 700px;
    padding-top: 150px;
    padding-left: 150px;
}

.email {
    width: 500px;
    height: 70px;
    background: white;
}

.message {
    width: 500px;
    height: 200px;
    background: white;
}

.button {
    width: 150px;
    background: rgb(151, 255, 255);
    padding-bottom: 10px;
    border-radius: 10px;
}

.ContactMe {
    color: white;
    font-size: 50px;
}